<br>
<h1 class="title">レシピ詳細</h1>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag @cook.image.url if @cook.image_url %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @cook.title %></p>
              </div>
              <div class="media-right">
                <% if current_user.already_favorited?(@cook) %>
                  <%= link_to cook_favorites_path(@cook), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                  <%= @cook.favorites.count %>
                <% else %>
                  <%= link_to cook_favorites_path(@cook), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                  <%= @cook.favorites.count %>
                <% end %>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th></th>
                </tr>
                <tr>
                  <td><%= simple_format @cook.describe %></td>
                </tr>
              </table>
              <% if @cook.user.id == current_user.id %>
                <%= link_to "編集", edit_cook_path(@cook), class: "button is-success" %>
                <%= link_to "削除", cook_path(@cook), method: :delete,
                    data: { confirm: "本当に削除していいですか" }, class: "button is-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            <%= link_to user_path(@cook.user), class: "panel-block" do %>
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              <%= @cook.user.name %> さんのページへ
            <% end %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @cook.user.profile %>
            </p>
          </div>
          <div class="panel-block">
            <div class="label_field">
              <% @labels.each do |label| %>
                <p><%= label %></p>
              <% end %>
            </div>
          </div>
          <p class="center">コメント一覧</p>
          <div class="panel-block">
            <div id="comments_area">
              <%= render partial: 'comments/index', locals: { comments: @comments, cook: @cook } %>
            </div>
          </div>
            <div class="panel-block">
              <%= render partial: 'comments/form', locals: { comment: @comment, cook: @cook } %>
            </div>
          </div>
          
        </article>
      </div>
    </div>
  </div>
</section>