<div class = "container">
  <p>
    <strong>特色:</strong>
    <%= @label.name %>
  </p>

  <%= link_to '編集', edit_label_path(@label) %> |
  <%= link_to '戻る', labels_path %> |
  <% if session[:cook_id] %>
    <%= link_to 'レシピの編集画面へ', edit_cook_path(session[:cook_id]) %>
  <% else %>
    <%= link_to 'レシピの投稿画面へ', new_cook_path %>
  <% end %>
</div>