<br>
<h1 class="title">ユーザー一覧</h1>
<section class="container">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>
                    <%= image_tag default_img(user.profile_image.url), class: "profile_image" if user.profile_image.url %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p><%= link_to user.name, user_path(user) %></p>
                  <% if user_signed_in? && (current_user.followings.include?(@user) || current_user.followers.include?(@user)) %>
                    <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
                  <% end %>
                </div>
                <div class="media-content">
                  <%= render 'follow_form', user: user if current_user%>
                </div>
              </div>
              <div class="content">
                投稿数：<%= user.cooks.count %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>                