<br>
<br>
<h1 class="title"><%= @user.name %>さんの情報</h1>
<br>
<div class="center">
  フォロー数： <%= @followings.count %>　　
  フォロワー数：<%= @followers.count %>
</div>
<section class="section">
  <div class="container-fluid">
    <div class="columns">
      <div class="column is-6">
        <h1 class="title">フォロー中</h1>
         <br>
         <div class="table">
          <table class="table">
            <thead>
              <tr>
                <th>画像</th>
                <th>ユーザー名</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @followings.each do |following| %>
                <tr>
                  <td>
                    <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
                      <%= image_tag default_img(following.profile_image.url, class: "profile_image is-rounded") if  following.profile_image.url  %>
                    </figure>
                  </td>
                  <td class="title"><%= link_to following.name, user_path(following.id) %></td>
                  <% if @user == current_user %>
                    <td><%= link_to 'フォロー外す', relationship_path(current_user.active_relationships.where(followed: following.id).first), method: :delete, class: "button is-danger is-small" %></td>
                    <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: following.id), method: :post, class: "button is-success is-small" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

     
      <div class="column is-6">
        <h1 class="title">フォロワー</h1>
        <br>
        <div class="columns is-center">
          <div class="column is-6">
            <table class="table">
              <thead>
                <tr>
                  <th>画像</th>
                  <th>フォロワー名</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @followers.each do |follower| %>
                  <tr>
                    <td>
                      <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
                        <%= image_tag default_img(follower.profile_image.url, class: "profile_image is-rounded") if  follower.profile_image.url  %>
                      </figure>
                    </td>
                    <td class="title"><%= link_to follower.name, user_path(follower.id) %></td>
                    <% if @user == current_user %>
                      <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: follower.id), method: :post, class: "button is-success is-small" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>  
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
