<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="navbar-start">
        <h2 class="title is-3" style="font-family: cursive;">
          <%=link_to root_path, class: 'navar-item' do %>
            recipegram
          <% end %>
        </h2>
      </div>

      <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to "レシピグラマー一覧", users_path, class: 'nav-link' %>
        <%= link_to "マイページ", user_path(current_user), class: 'nav-link' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to "レシピグラマー一覧", users_path, class: 'nav-link' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
    <footer class = "footer">
      <p>Copyright © 2023 DIVE INC ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
